@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');



h2 {
    font-family: "Inter", sans-serif;
    text-transform: uppercase;
}

li {
    list-style-type: none;
    text-decoration: none;
    color: black;
    aspect-ratio: 5/1;
    transform: translateX(100%);
}